
<h2>About KBOO</h2>
<p>We are Volunteer-Powered, Non-Commercial, Listener-Sponsored, Full-Strength Community Radio for Portland, Oregon, Cascadia & the World!</p>

<p>Frequencies</p>

<p>We broadcast at</p>
<ul>

<li>90.7 fm in Portland</li>
<li>104.3 fm in Corvallis</li>
<li>91.9 fm in Hood River</li>
</ul>

<p>Core Values:</p>

<p>Values that are the essence of KBOO and should remain intact no matter how the station changes:</p>

<p>Community: local, accessible, empowering. welcoming, inclusive, participatory, involved
Progressive Perspective: questioning, vital, uncensored, controversial, activist resource, educational, journalistic integrity, reflecting justice, peace, sustainability and democracy.</p>

<p>Emotional Maturity: respectful, honest, fair, positive, peaceful, non-violent, engaging, open</p>

<p>Diversity: valuing, embracing, bridging, listening, understanding, giving voice</p>

<p>Leadership: bold, exploring, independent, cutting edge, responsible, excellence</p>

<p>Creativity: eclectic, traditional to experimental, idiosyncratic, innovative, iconoclastic. evolving, compelling
Programming Charter</p>

<p>KBOO shall be a model of programming, filling needs that other media do not, providing programming to unserved or underserved groups. KBOO shall provide access and training to those communities.</p>

<p>KBOO news and public affairs programming shall place an emphasis on providing a forum for unpopular, controversial, or neglected perspectives on important local, national, and international issues, reflecting KBOO’s values of peace, justice, democracy, human rights, multiculturalism, environmentalism, freedom of expression, and social change.</p>

<p>KBOO’s arts, cultural, and musical programming shall cover a wide spectrum of expression from traditional to experimental, and reflect the diverse cultures we serve. KBOO shall strive for spontaneity and programming excellence, both in content and technique.</p>

<p>History</p>

<p>A group of Portlanders, disgruntled at the lack of a classical music station, organized themselves as Portland Listener Supported Radio in 1964. They had heard of Lorenzo Milam, a former KPFA volunteer, and the success of the station called KRAB that he had started in Seattle. Lorenzo Milam agreed to help them organize a station, and after a series of meetings, Portland Listener Supported Radio applied for a license for a Portland radio station.</p>
