<% provide(:title, 'Board') %>
<div class="content">
  <div class="row">
    <div class="container">
    <div class="col-md-9">
      <div id="faq-area">
        <div class="jumbotron"><h1>Board of Directors</h1></div>
          <center>
            <table>
            <tr><td><h2> President:           <tr></td></h2>
            <tr><td><h4> SW Conser            <tr></td></h4 >
            <tr><td><h2> Vice President:      <tr></td></h2>
            <tr><td><h4> Matthew Bristow      </tr></td></h4>            
            <tr><td><h2> Treasurer:           </tr></td></h2>
            <tr><td><h4> Adin Rogovin         </tr></td></h4 >
            <tr><td><h2> Secretaries:         </tr></td></h2>
            <tr><td><h4>  Mark Sherman
            <tr><td><h4> Timothy Welp         </tr></td></h4>
            <tr><td><h4> Lyn Moelich          </tr></td></h4>
            <tr><td><h4> Michael Papadapoulos </tr></td></h4>
            <tr><td><h4> Jeff Kipilman        </tr></td></h4>
            <tr><td><h4> Sue Bartlett         </tr></td></h4>
            <tr><td><h4> Michael Wells        </tr></td></h4>
            <tr><td><h4> Joe Uris             </tr></td></h4>
            <tr><td><h4> Jen Davis            </tr></td></h4>
            </table>
          </center>
      </div>  
    </div>
  </div>
</div>
