<% provide(:title, 'FAQ') %>
<div class='content'>
  <div class='row'>
    <div class='container'>
    <div class='col-md-9'>
      <div id='faq-area'>
        <div class='jumbotron' id='faq'><h1>Frequently Asked Questions</h1></div>
          <h4 class='see_answer'> What is KBOO? </h4>
          <p> 
            KBOO is a community radio station providing music, news and public affairs 24 hours/day, 365 days/year to Portland, Corvallis, Vancouver, Salem, Mount Hood and the surrounding areas. All programming is produced by volunteers with assistance of paid staff. The weekly cumulative audience is about 60,000 people.

            KBOO is owned and operated by The KBOO Foundation, a not-for-profit corporation, and is a member of the National Federation of Community Broadcasters, West Coast Public Radio, and the Consortium for Public Broadcasting in Oregon. As a 501c3 not-for-profit organization, KBOO is dedicated to peace, justice, democracy, human rights, multiculturalism, environmentalism, freedom of expression, and social change.
            <h6> KBOO Mission Statement </h6>
            <p>
              KBOO shall be a model of programming, filling needs that other media do not, providing programming to diverse communities and unserved or underserved groups. KBOO shall provide access and training to those communities.

              KBOO's news and public affairs programming shall place an emphasis on providing a forum for unpopular, controversial, or neglected perspectives on important local, national, and international issues, reflecting KBOO's values of peace, justice, democracy, and human rights, multiculturalism, environmentalism, freedom of expression, and social change.

              KBOO's arts, cultural, and music programming shall cover a wide spectrum of expression from traditional to experimental, and reflect the diverse cultures KBOO serves. KBOO shall strive for spontaneity and programming excellence, both in content and technique.
            </p>
          </p>
          
          <h4 class='see_answer'> Where is KBOO? </h4>
          <p> KBOO HQ is located at 20 SE 8th (between Burnside and Ankeny), Portland, Oregon, USA. Our signal covers Portland, as well as the Columbia Gorge and the Willamette Valley thanks to our repeater stations. Check out our Coverage Map and our Station Location Map for more details. </p>
          
          <h4 class='see_answer'> What is Community Radio? </h4>
          <p> Non-commercial, educational, and locally-based, community radio stations are distinguished by their community support, control and programming. Community broadcasting invigorates local communities and adds local voices to the media environment. </p>
          
          <h4 class='see_answer'> What do Volunteers Do? </h4>
          <p> Volunteers answer the phones, do the mailings, buy office supplies, put up posters, maintain the building, work K-booths, and record speeches and lectures. They also play music, produce all of our public affairs programming, and write, edit and produce the news. In exchange, we provide free training in engineering and broadcasting, and host workshops on interviewing, writing for radio, and other skills. </p> 
          <!-- add link to volunteer page when its built -->
          
          <h4 class='see_answer'> Why should I become a Member? </h4>
          <p> You can always listen for free, but your membership is what keeps KBOO on the air -- about 80% of KBOO's funding comes from our members, with the remainder from events and underwriting. Besides supporting local radio, you can vote for the Board of Directors, get the quarterly Listeners' Guide in the mail, and get discounts from lots of local businesses. Become a member now! <%= link_to new_user_registration_path %></p>        
          
          <h4 class='see_answer'> How do I get on the air? </h4>
          <p> If you're interested in getting interviewed, you should contact the news & public affairs directors with your information. If you're a musician, contact the show hosts that play music like your own. If you'd like to propose a show talk to one of our programing directors or the programming committee. </p>    
      </div>
    </div>
  </div>
</div>
