<div>
  <% @episodes.each do |episode| %>
    <div class="episode">
      <ul>
        
        <div class="jp-circle-control">
          <ul class="jp-controls">
            <script>$('a.html5').click(function() {
              var url = $(this).attr('href');  
              $("#jquery_jplayer_1").jPlayer("setMedia", {mp3: url}).jPlayer("play");
              return false;  
              }); 
            </script>
          </ul>
        </div>  
      </ul>
    </div> 
  <% end %>          
</div>