<h1>Press Area</h1>
<div class="container">
  <h3>Welcome to KBOO's press area, where you can find press releases, KBOO in the News and more.</h3>

  <p>
    Media inquiries: Contact KBOO's <!-- ADD EMAIL LINK -->sLynn Fitch.
News stories: Send ideas to KBOO's PM News Department.
Membership and audience inquiries: Contact KBOO's <!-- ADD EMAIL LINK -->Andrew Geller.

KBOO Community Radio is volunteer-powered and listener-supported. KBOO creates and broadcasts programming unique to the Portland Metro Area that represents and reflects the realities and diversity of the community. News and music you won’t hear anywhere else. Learn more and become a member at kboo.fm.

</div>
<!-- Add press release and KBOO in the news blogs -->