<% provide(:title, 'Staff') %>
<div class="col-md-9">
<h1>KBOO Staff Directory</h1>
<%= 'TODO: add columns to user for has_blog and is_staff, loop through them and display info + pics. Staf_profiles.txt has the layout if you would like a reference' %>
</div>
