<div class="container">
  <h3>Leave a comment</h3>
  <table>

    <%= form_for @comment do |f| %>
    <tr> <td> <%= f.label         :comment_text %>       </tr> </td>
    <tr> <td> <%= f.text_field    :comment_text %>       </tr> </td>
    
    <tr> <td> <%= f.submit %>                            </tr> </td>
    
    <% end %> 
  </table>  
</div>