<% if current_user && (current_user.admin? || current_user.staff?) %>
  <%= render 'layouts/edit_program_as_admin' %>
<% elsif current_user.programs.include?(@program) %>
  <%= render 'layouts/edit_program_as_host' %>
<% else %>
  <h2>Oops. You do not have permission to view this page.</h2>
  <%= link_to 'Back', :back %>
<% end %>