<% if @program.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@program.errors.count, 'error') %> prohibited this task from being saved:</h2>
    <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if can? :edit, @program %>
	<% if current_user.admin? %>
    <%= render 'edit_program_as_admin' %>
  <% else %>
    <%= render 'edit_program_as_host' %>
  <% end %>
<% end %>
