<% provide(:title, 'Programs') %>
<h2 class='header-wrapper'>PROGRAMS</h2>
<div class='panel'>
  <div class='info-wrapper'>
    <ul class='no-bullets'>
    <% @programs.each do |program| %>
      <li>
        <span class='program-title'><%= link_to program.title, program %></span>
        <small><%= program.date.strftime('%a %b %d, %Y') + ' at ' + program.time.strftime('%l:%M %p') %>
        <% if program.category %>
          <em><%= program.category.name %></em></small>
        <% end %>
        <small><%= program.description %></small>
      </li>
    <% end %>
    </ul>  
  </div>
</div>
