<h1>Programs</h1>

<ul>
<% @programs.each do |program| %>
  <li>
    <strong><%= link_to program.title, program %></strong>
    <small><%= program.date.to_s[0..9] + " " + program.time.to_s[11..15] %>
    <em><%= program.category.name %></em></small>
    <br><small><%= program.description %></small>
  </li>
<% end %>
</ul>  

