<h1>User List</h1>


<% if current_user.admin? %>
  <ul>
  <% @users.each do |user| %>
    <li><%= "#{user.email} #{user.role}"%> <%= link_to "Edit", edit_user_path(user) %></li>
  <% end %>  
  </ul>
<% else %>
  <% redirect_to new_user_session_path %>  
<% end %>

<% if current_user.staff? %>
  <ul>
  <% @users.each do |user| %>
    <% if user.role == 'listener' || 'contributor' %>
      <li><%= "#{user.email} #{user.role}"%> <%= link_to "Edit", edit_user_path(user) %></li>
    <% end %>  
  <% end %>  
  </ul>
<% end %>    