<% provide(:title, '') %>
<div class='header-wrapper'>
  
</div>
 <!-- <div class='panel'> -->
    <!-- <div class='info-wrapper'> -->
      <!-- <span class='info-block'> -->
       <h2> 
        <%= render 'layouts/on_air_now' %>
        <%= render 'layouts/jplayer' %>
        <%= render 'layouts/on_air_next' %>
        <center>UPCOMING HIGHLIGHTS</center>
      </h2>   
      <!-- </span> -->
<% program_highlights.highlights.each do |program| %>
  <div class='panel'>
    <div class='info-wrapper'>
      <span class='info-block'>
        <h2><%= link_to program[:title], program[:url], target: '_blank' %></h2>
      </span>   
<% end %>

