<% provide(:title, '') %>
<div class='header-wrapper'>
  <h2>UPCOMING HIGHLIGHTS</h2>
</div>

<% program_highlights.highlights.each do |program| %>
  <div class='panel'>
    <div class='info-wrapper'>
      <span class='info-block'>
        <h2><%= link_to program[:title], program[:url], target: '_blank' %></h2>
      </span>
    </div>
  </div>
<% end %>

