@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Marvel:400,400italic);

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
  .navbar-fixed-top
  {
  position: relative;
  top: auto;
  }

  .navbar-fixed-bottom
  {
  position: relative;
  top: auto;
  }

  html body {
  background-color: #7DD3F6 !important;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  p {
    text-align: center;
  }

}

html body {
  background-color: #7DD3F6 !important;
  margin-bottom: 30px;
  }

footer {
  height: 30px;
}  

#logo {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

#banner {
    display: block;
    text-align: center;
    margin-top: 40px;
  }  

@media (max-width: 743px) {
   #banner { 
      display: none;
      margin-top: -10px;
   }
}  

@media (min-width: 743px) {
   #logo { 
      display: none;
   }
/*   .panel {
     margin-top: 40px;
   }*/
}  

.btnplay {
  background: image-url('play_btn_sm.png');
}




