@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Marvel:400,400italic);

/* Mixins, Variables, etc. */
$hardGray: #4E4E4E;
$softGray: #A8A8A8;

/* Universale */
html body {
  background-color: #7DD3F6 !important;
  margin-bottom: 60px;
}

footer {
  height: 30px;
}

.btnplay {
  content: image-url('play_btn_sm.png');
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }

  .navbar-fixed-bottom {
    position: relative;
    top: auto;
  }

  h3 { text-align: center; }
  h4 { text-align: center; }
  p  { text-align: center; }
}

@media (max-width: 743px) {
   .banner { 
      content: image-url('cartoon_logo.png');
      text-align: center;
      margin: 0 auto;
   }
}  

@media (min-width: 743px) {
   .banner { 
      content: image-url('banner.png');
      text-align: center;
      margin: 50px auto;
   }
}  

/* On Air Next */
.on-air-wrapper {
  width: 80%;
  max-width: 480px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}

.on-air-header {
  display: block;
  padding: 8px;
  .soft {
    color: $softGray;
  }
  .hard {
    color: $hardGray;
    font-weight: bold;
  }
}

/* Forms */
.form {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-control:focus {
  border: 2px solid #333333;
}

.btn-success {
  border: none;
  float: right;
  &:focus {
    outline: none;
    border: 2px solid #333333;
  }
}

