@import 'bootstrap';
@import 'bootstrap-responsive';
@import url(http://fonts.googleapis.com/css?family=Marvel:400,400italic);

/* Page Wrapper */
.wrapper {
  /*max-width: 600px;*/
  width: 100%;
  margin: 0 auto;
}

/* Header Logo */
.logo {
  margin: 0 auto;
  margin-top: 2px;
  width: 100%;
  height: auto;
}

footer {
    background-color: #FD882B;
    height: 102px;
    margin:3%;
    margin-top: -21px;
    font-family: 'Marvel', sans-serif;
    text-shadow:4px 4px 6px white;
    text-align: center;
    height: 90px;
    width: 100%;
    margin: 0 auto;
  }