.jp-controls {
  text-align: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  
  
  .jp-play {

    display: block;
    @media (min-width: 743px) {
      background: image-url('play_btn_lg.png') no-repeat;
      height: 200px;
      width: 200px; 
      
    }

    @media (max-width: 743px) {
      background: image-url('play_btn.png') no-repeat;
      height: 100px;
      width: 100px;
    }
  
  }

  .jp-pause {
    display: block;
    @media (min-width: 743px) {
      background: image-url('pause_btn_lg.png') no-repeat;
      height: 200px;
      width: 200px;
    }

    @media (max-width: 743px) {
      background: image-url('pause_btn.png') no-repeat;
      height: 100px;
      width: 100px;
    }
  }

}
.jp-box {
  padding-top: 1em;
  margin: 0 auto;
  display: inline-block;
  @media (min-width: 743px) {
    width: 200px;
  }
  @media (max-width: 743px) {
    width: 100px;
  }
  
}
.jp-play:hover, .jp-pause:hover {
  cursor: pointer;
}