<div class='hdr_text'>RECENT PROGRAMS</div>
<div class='recent_programs'>
  <div class='panel'>
    <p class='panel-header'>KBOO Wire</p class='panel-header'>
    <h4>Title: Real Stories, Real People</h4>
    <p>Host: Sekoynia Wright</p>
    <p>Guest: Sekoynia Wright</p>
  </div> 

  <div class='panel'>
    <p class='panel-header'>A Different Nature</p>
    <h4>Title: Old Mole Variety Hour</h4>
    <p>Host: Sekoynia Wright</p>
    <p>Guest: Sekoynia Wright</p>
  </div> 

  <div class='panel'>
    <p class='panel-header'>A Jazz World</p>
    <h4>Title: Real Stories, Real People</h4>
    <p>Host: Sekoynia Wright</p>
    <p>Guest: Sekoynia Wright</p>
  </div> 

  <div class='panel'>
    <p class='panel-header'>Ubu Hour</p>
    <h4>Title: Real Stories, Real People</h4>
    <p>Host: Sekoynia Wright</p>
    <p>Guest: Sekoynia Wright</p>
  </div> 

  <div class='panel'>
    <p class='panel-header'>MC Jenka in the House</p>
    <h4>Title: Real Stories, Real People</h4>
    <p>Host: Sekoynia Wright</p>
    <p>Guest: Sekoynia Wright</p>
  </div> 

  <div class='panel'>
    <p class='panel-header'>A Deeper Look</p>
    <h4>Title: Real Stories, Real People</h4>
    <p>Host: Sekoynia Wright</p>
    <p>Guest: Sekoynia Wright</p>
  </div> 

  <div class='panel'>
    <p class='panel-header'>Programming with Hunter</p>
    <h4>Title: Real Stories, Real People</h4>
    <p>Host: Sekoynia Wright</p>
    <p>Guest: Sekoynia Wright</p>
  </div> 
 </div>
 <br>
 <div class='more_btm_text'>More...</div>
</div>