<div class='hdr_text'>RECENT PROGRAMS</div>
  <div class='recent_programs'> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
    <div class='panel'></div> 
 </div>
 <div class='hdr_text'></div>
 <footer></footer>
</div>