<% if object.errors.any? %>
  <div id='error_explanation'>
    <h3><%= pluralize(object.errors.count, 'error') %> prohibited this task from being saved:</h3>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class='error'><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>