<nav class="navbar navebar-default navbar-fixed-bottom">
    <div class="row">
      <a href="#"><div class="col-xs-3">
        <span class="glyphicon glyphicon-heart-empty"></span>
        <div class="item">Highlights</div>
      </div></a>
      <a href="#"><div class="col-xs-3">
        <span class="glyphicon glyphicon-book"></span>
        <div class="item">Episodes</div>
      </div></a>
      <a href="#"><div class="col-xs-3">
        <span class="glyphicon glyphicon-headphones"></span>
        <div class="item">Live</div>
      </div></a>
        <a href="#"><div class="col-xs-3">
          <span class="glyphicon glyphicon-usd"></span>
        <div class="item">Donate</div>
      </div></a>
    </div>
</nav>
