<div class="player">
	<div id="jquery_jplayer_1" class="jp_jplayer"></div>
	<div id="jp_container_1" class="jp-container">
			<div class="jp-controls">
				<div class="jp-box">
					<a class="jp-play"> </a>
					<a class="jp-pause"> </a>
				</div>
			</div>
	</div>
</div>