<div class='on-air-wrapper'>
	<h2>
	  <span class='on-air-header'>
	    <span class='soft'>Up Next:</span>
	    <span class='hard'><%= "#{on_air_next.program_title}" %></span>
	  </span>
	</h2>
</div>
