
  <div class="shows desktop">
    <div>
        <h3>KBOO Wire</h3>
            <h4>Title: Real Stories, Real People</h4>
                <p>Host: Sekoynia Wright</p>
                <p>Guest: Sekoynia Wright</p>
    </div> 

    <div>
        <h3>A Different Nature</h3>
            <h4>Title: Old Mole Variety Hour</h4>
                <p>Host: Sekoynia Wright</p>
                <p>Guest: Sekoynia Wright</p>
    </div> 

    <div>
        <h3>A Jazz World</h3>
            <h4>Title: Real Stories, Real People</h4>
                <p>Host: Sekoynia Wright</p>
                <p>Guest: Sekoynia Wright</p>
    </div> 

    <div>
        <h3>Ubu Hour</h3>
            <h4>Title: Real Stories, Real People</h4>
                <p>Host: Sekoynia Wright</p>
                <p>Guest: Sekoynia Wright</p>
    </div> 

    <div>
        <h3>MC Jenka in the House</h3>
            <h4>Title: Real Stories, Real People</h4>
                <p>Host: Sekoynia Wright</p>
                <p>Guest: Sekoynia Wright</p>
    </div> 

    <div>
        <h3>A Deeper Look</h3>
            <h4>Title: Real Stories, Real People</h4>
                <p>Host: Sekoynia Wright</p>
                <p>Guest: Sekoynia Wright</p>
    </div> 

    <div>
        <h3>Programming with Hunter</h3>
            <h4>Title: Real Stories, Real People</h4>
                <p>Host: Sekoynia Wright</p>
                <p>Guest: Sekoynia Wright</p>
    </div> <br>
    <center> more </center>
 </div>
 <br>
 

 <!-- render footer here when complete -->
</div>
